@use "st-core" as *;

.loaders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: toRem(40);

    height: 100%;
    width: 100%;

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;

        flex: 1 1 toRem(350);

        height: toRem(350);
        aspect-ratio: 1;

        border-radius: toRem(8);
        background: rgb(37, 27, 44);
    }

    &__card-loader {
        position: relative;

        width: toRem(160);
        aspect-ratio: 1;

        &.--circle {

            &::before,
            &::after {
                position: absolute;
                inset: 0;

                aspect-ratio: 1;

                content: '';

                border: 6px solid rgb(156, 156, 156);
                border-left: none;
                border-bottom: none;
                border-radius: 50%;
                background: transparent;

                clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
                animation: spinAnimated .8s ease-in-out infinite;
            }

            &::before {
                scale: .75;
            }

            &::after {
                border-color: rgb(255, 255, 255);

                animation-direction: reverse;
            }
        }

        &.--dots {
            position: relative;

            .loaders__card-loader-dots {
                position: absolute;
                top: 50%;
                left: 50%;

                width: toRem(144);
                height: toRem(24);

                transform: translate(-50%, -50%);
            }

            .loaders__card-loader-dot {
                position: absolute;

                width: 24px;
                height: 24px;

                border-radius: 50%;
                background: white;
            }

            .loaders__card-loader-dot:first-of-type {
                animation: loaderDot 2s linear infinite;
            }

            .loaders__card-loader-dot:nth-child(2) {
                animation: loaderDot 2s linear infinite -.4s;
            }

            .loaders__card-loader-dot:nth-child(3) {
                animation: loaderDot 2s linear infinite -.8s;
            }

            .loaders__card-loader-dot:nth-child(4) {
                animation: loaderDot 2s linear infinite -1.2s;
            }

            .loaders__card-loader-dot:last-of-type {
                animation: loaderDot 2s linear infinite -1.6s;
            }
        }
    }
}

@property --loader-advanced-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 100px;
}

@property --loader-advanced-height {
  syntax: '<length>';
  inherits: false;
  initial-value: 100px;
}

@property --loader-advanced-bf-af-opacity {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.loader-advanced {
    position: relative;

    width: var(--loader-advanced-width);
    height: var(--loader-advanced-height);

    border: 8px solid white;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);

    animation: shaking 4s infinite ease-in-out 4s, all-devices 4s infinite ease;

    &::before,
    &::after {
        position: absolute;
        top: 50%;

        content: "";

        opacity: var(--loader-advanced-bf-af-opacity);
    }

    &::before {
        left: 0;
        z-index: 10;

        width: 100px;
        height: 100px;

        margin: 0 -8px;

        background: rgb(37, 27, 44);
        transform: translateY(-50%);

    }

    &::after {
        left: 50%;
        z-index: 9;

        width: 80px;
        height: 220px;

        border: 8px solid white;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.05);

        transform: translate(-50%, -50%);
    }

    &__button {
        position: absolute;
        top: 50%;
        right: -70%;

        width: toRem(12);
        height: toRem(38);

        border-radius: toRem(6);
        background: white;

        transform: translateY(-50%);
    }
}