.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    padding: 24px;
}

.card {
    position: relative;
    flex: var(--card-flex, 0 0 calc(33.333% - 16px));

    padding: 24px;

    border-radius: 20px;
    background: var(--card-bg, #07051B);

    overflow: hidden;

    &::before {
        position: absolute;
        inset: -1px;

        min-width: 100%;
        min-height: 100%;

        content: '';

        background-image: url(../../assets/Noise.png);
        background-position: center;

    }

    &::after {
        position: absolute;
        inset: -1px;

        min-width: 100%;
        min-height: 100%;

        content: '';

        background-image: url(../../assets/1-card.png);
        background-position: center;
        background-size: cover;
    }

    &.--2 {

        &::after {
            z-index: 1;
            background-image: url(../../assets/2-card.png);
        }
    }

    &.--3 {
        --card-bg: #0E8BFF;

        & .card__circle {
            position: absolute;
            top: -50%;
            left: 60%;

            width: 300px;
            aspect-ratio: 1;
            border-radius: 50%;

            background: rgba(255, 255, 255, 0.17);

            &::before {
                position: absolute;
                top: 0;
                right: 40%;

                width: 300px;
                aspect-ratio: 1;
                border-radius: 50%;

                content: '';

                background: rgba(255, 255, 255, 0.2);
            }
        }

        &::after {
            z-index: 1;
            background-image: none;
        }
    }

    &.--4 {
        --card-bg: #1B16FF;

        &::after {
            z-index: 1;
            background-image: url(../../assets/4-card.png);
            background-position: center right;
            background-size: 320px;
            background-repeat: no-repeat;
        }
    }

    &.--5 {
        --card-bg: linear-gradient(90deg, #3EFCCE 0%, #3FE4FB 100%);

        &::after {
            z-index: 1;
            background-image: url(../../assets/5-card.svg);
        }
    }

    &.--6 {
        --card-bg: linear-gradient(45deg, #2621A9 0%, #0CFFEF 100%);

        &::after {
            z-index: 1;
            background-image: url(../../assets/6-card.svg);
        }
    }

    &.--7 {
        --card-bg: #1238FF;

        &::after {
            z-index: 1;
            background-image: url(../../assets/7-card.svg);
        }
    }

    &.--8 {
        --card-bg: #FF560E;

        &::after {
            z-index: 1;
            background-image: url(../../assets/8-card.svg);
        }
    }

    &.--9 {
        &::after {
            z-index: 1;
            background-image: url(../../assets/9-card.svg);
        }
    }

    @media (max-width: 1230px) {
        --card-flex: 0 0 calc(50% - 24px);
    }

    @media (max-width: 920px) {
        width: max-content;
    }
}

.card__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: var(--card-top-flex-direction, row);

    margin-bottom: 20%;

    & .card__svg {
        z-index: 3;

        width: 52px;
        height: 32px;

        &.--bank-360 {
            width: 30%;
        }

        &.--chip {
            width: 48px;
            height: 48px;
        }

        &.--small {
            width: 40px;
            height: 40px;
        }
    }
}

.card__content {
    position: relative;
    z-index: 4;

    color: white;

    & .card__number {
        margin-bottom: 24px;

        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1.1px;

        cursor: pointer;
    }
}

.card__personal-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.--design-2 {
        display: flex;
        justify-content: space-between;
    };
}

.card__data {
    display: flex;
    flex-flow: column;
    gap: 8px;

    font-size: 12px;
    font-weight: 300;

    & span {
        font-size: 18px;
        font-weight: 600;
    }
}

.card__chip {
    position: absolute;
    z-index: 3;

    inset: var(--card-inset-chip, auto 24px 12px auto);

    width: 50px;
    height: 50px;
}