<div class="card --12">
    <div class="card__top">
        <include src="components/use-icon.html" locals='{
            "className": "card__svg",
            "iconName": "chip-2" }'></include>
    </div>

    <div class="card__content">
        <div class="card__number">{{ NumberCard }}</div>

        <div class="card__personal-info">
            <div class="card__data">
                Card Holder name
                <span>{{ HolderName }}</span>
            </div>
            <div class="card__data">
                Expiry Date
                <span>{{ Date }}</span>
            </div>
        </div>
    </div>

    <include src="components/use-icon.html" locals='{
        "className": "card__svg-bottom",
        "iconName": "visa" }'></include>
</div>