<article class="slider-card --3">
    <div class="slider-card__media">
        <picture class="slider-card__media-pic --bubble --bottom-left">
            <img src="../../assets/image/card-3/1.webp" alt="">
        </picture>

        <picture class="slider-card__media-pic --bubble --top-left">
            <img src="../../assets/image/card-3/2.webp" alt="">
        </picture>

        <picture class="slider-card__media-pic --bubble --center">
            <img src="../../assets/image/card-3/3.webp" alt="">
        </picture>
    </div>

    <div class="slider-card__details">
        <h1 class="slider-card__title">Grow your Income and Secure Your Future</h1>

        <p class="slider-card__details-subtitle">Start building real financial freedom — earn more, save smarter, and
            invest in what matters most. Your future starts now</p>

        <button class="slider-card__details-button button">Start now</button>
    </div>
</article>