<div class="card --7">
    <div class="card__top">
        <include src="components/use-icon.html" locals='{
            "className": "card__svg --chip",
            "iconName": "chip" }'></include>

        <include src="components/use-icon.html" locals='{
                "className": "card__svg",
                "iconName": "nfs" }'></include>
    </div>

    <div class="card__content">
        <div class="card__number">{{ NumberCard }}</div>

        <div class="card__personal-info --design-2">
            <div class="card__data">
                <span>{{ HolderName }}</span>
            </div>

            <div class="card__data">
                <span>{{ Date }}</span>
            </div>
        </div>
    </div>
</div>