<article class="slider-card --2">
    <div class="slider-card__media">
      <picture class="slider-card__media-pic --masked">
        <source srcset="../../assets/image/card-2/kasi@3x.webp" type="image/webp">
        <source srcset="../../assets/image/card-2/kasi@2x.webp" type="image/webp">
        <img src="../../assets/image/card-2/kasi.webp" alt="">
      </picture>
    </div>
    
    <div class="slider-card__details">
      <h1 class="slider-card__title">Get access to cash advances and loans up to R20 000</h1>

      <p class="slider-card__details-subtitle">Short on cash? No worries. Grab an advance or loan up
        to R20 000 — quick approval, no drama. Just what you need, right when you need it.</p>

      <button class="slider-card__details-button button">Start now</button>
    </div>
  </article>