@use "functions" as *;

@keyframes spinAnimated {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

///////////////////////////////////////////////////////////

@keyframes loaderDots {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translateX(-24px);
    }
}

@keyframes loaderDot {
    0% {
        left: 100px;
        top: 0
    }

    80% {
        left: 0;
        top: 0;
    }

    85% {
        left: 0;
        top: -20px;
        width: 24px;
        height: 24px;
    }

    90% {
        width: 40px;
        height: 14px;
    }

    95% {
        left: 100px;
        top: -20px;
        width: 24px;
        height: 24px;
    }

    100% {
        left: 100px;
        top: 0;
    }
}

///////////////////////////////////////////////////////

@keyframes shaking {
    0% {
        transform: translateY(0)
    }

    38% {
        transform: translateY(10px)
    }

    55% {
        transform: translateY(-20px)
    }

    78% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0)
    }
}