@use "st-core" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", serif;
  font-size: 14px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: rgb(150, 150, 150);

  @font-face {
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: font-local("SFProDisplay", "SFProDisplayLight"),
         url("/src/assets/fonts/sf-pro/SFProDisplayLight.woff2") format("woff2"),
         url("/src/assets/fonts/sf-pro/SFProDisplayLight.woff") format("woff");
  }
  
  @font-face {
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: font-local("SFProDisplay", "SFProDisplayRegular"),
         url("/src/assets/fonts/sf-pro/SFProDisplayRegular.woff2") format("woff2"),
         url("/src/assets/fonts/sf-pro/SFProDisplayRegular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: font-local("SFProDisplay", "SFProDisplayBold"),
         url("/src/assets/fonts/sf-pro/SFProDisplayBold.woff2") format("woff2"),
         url("/src/assets/fonts/sf-pro/SFProDisplayBold.woff") format("woff");
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}