@use "st-core" as *;

.button {
    display: var(--button-display, inline-flex);
    align-items: center;
    justify-content: center;
  
    padding: toRem(12) toRem(24);
  
    text-align: center;
    color: white;
  
    border-radius: toRem(24);
    background: black;
  
    cursor: pointer;
  }